.main1{
    display: flex;
    justify-content: space-evenly;
    padding: 0px 14px;
}
.box1 {
    background-color: darkcyan;
    width: 32%;
    height: 200px;
}
.box2 {
    background-color: darkcyan;
    width: 32%;
    height: 200px;
}
.box3 {
    background-color: darkcyan;
    width: 32%;
    height: 200px;
}
div .circle1 {
    background-color: #e17e7e;
    border-radius: 50%;
    height: 75px;
    width: 75px;
    position: absolute;
    top: 22px;
    margin: 0px 40px;
}
div .circle2 {
    background-color: yellow;
    border-radius: 50%;
    height: 175px;
    width: 175px;
    position: absolute;
    top: 22px;
    margin: 0px 224px;
}
.circle3 {
    background-color: #e17e7e;
    border-radius: 50%;
    height: 75px;
    width: 75px;
    position: absolute;
    top: 156px;
    margin: 0px 40px;
}
.circle4 {
    background-color: #e17e7e;
    border-radius: 50%;
    height: 130px;
    width: 130px;
    position: absolute;
    top: 162px;
    margin: 0px 407px;
    z-index: 1;
}
.circle5 {
    background-color: #e17e7e;
    border-radius: 50%;
    height: 75px;
    width: 75px;
    position: absolute;
    top: 12px;
    margin: 0px 0px;
}
.main2{

}
.rectangle1 {
    background-color: darkcyan;
    width: 96%;
    height: 58vh;
    display: flex;
    justify-content: space-evenly;
    margin: 29px;
}
.circle6 {
    background-color: yellow;
    border-radius: 50%;
    height: 75px;
    width: 75px;
    position: absolute;
    top: 7px;
    margin: 256px 179px 146px;
}
.triangle1 {
    width: 0px;
    height: 6px;
    border-left: 240px solid transparent;
    border-right: 246px solid transparent;
    border-bottom: 470px solid green;
    position: absolute;
    padding: 0px 0px;
    margin: -40px 758px;
}
.triangle2 {
    width: 0px;
    height: 144px;
    border-left: 160px solid transparent;
    border-right: 160px solid transparent;
    border-bottom: 291px solid #cbfd67;
    position: absolute;
    padding: 0px 0px;
    margin: 1px 1073px;
} 
.rectangle2 {
    background-color: #cbfd67;
    height: 16px;
    width: 96%;
    padding: 0px 0px;
    margin: 0px 29px;
}