.main1{
    display: flex;
    justify-content: space-evenly;
    padding: 0px 14px;
}
.box1 {
    background-color: darkcyan;
    width: 32%;
    height: 200px;
}
.box2 {
    background-color: darkcyan;
    width: 32%;
    height: 200px;
}
.box3 {
    background-color: darkcyan;
    width: 32%;
    height: 200px;
}
div .circle1 {
    background-color: #e17e7e;
    border-radius: 50%;
    height: 75px;
    width: 75px;
    top: 22px;
    margin: 0px 40px;
}
div .circle2 {
    background-color: yellow;
    border-radius: 50%;
    height: 175px;
    width: 175px;
    top: 22px;
    margin: 0px 224px;
}
.circle3 {
    background-color: #e17e7e;
    border-radius: 50%;
    height: 75px;
    width: 75px;
    top: 156px;
    margin: 0px 40px;
}
.circle4 {
    background-color: #e17e7e;
    border-radius: 50%;
    height: 130px;
    width: 130px;
    top: 162px;
    margin: 0px 407px;
    z-index: 1;
}
.circle5 {
    background-color: #e17e7e;
    border-radius: 50%;
    height: 75px;
    width: 75px;
    top: 12px;
    margin: 0px 0px;
}
.main2{
    display: flex;
}
.rectangle1 {
    background-color: darkcyan;
    width: 96%;
    height: 429px;
    display: flex;
    justify-content: space-evenly;
    margin: 29px;
}
.circle6 {
    background-color: yellow;
    border-radius: 50%;
    height: 75px;
    width: 75px;
    top: 7px;
    margin: 256px 179px 146px;
}
.triangle1 {
    width: 0px;
    border-left: 273px solid transparent;
    border-right: 273px solid transparent;
    border-bottom: 499px solid green;
    padding: 0px 0px;
}
.triangle2 {
    width: 0px;
    border-left: 225px solid transparent;
    border-right: 225px solid transparent;
    border-bottom: 367px solid #cbfd67;
    padding: 0px 0px;
} 
.rectangle2 {
    background-color: #cbfd67;
    height: 16px;
    width: 96%;
    padding: 0px 0px;
    margin: 0px 29px;
}
.head1 {
    background-color: #0efbfb;
    border-radius: 50%;
    height: 45px;
    width: 45px;
    top: 544px;
    margin: 0px 63px;
    padding: 0px;
    display: flex;
}
.body1 {
    background-color: #0efbfb;
    border-radius: 100%;
    height: 63px;
    width: 35px;
    top: 595px;
    margin: 0px 69px;
    display: flex;
}